*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* background-color: aqua;   */
}

/* h1{
    color: yellow;
} */
/* 
h2{
    color: red;
} */
/* 
.Name > h1,
.Name > h2,
.Name > h3,
.Name > h4{
    color: green;
} */

.Name > h1{
    color: green;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: 100;
    line-height: 1;
    letter-spacing: 1px;
}

#class > h1{
    color: hotpink;
}

/* p{
    background-color: red;
    color: white;
    background-image: url(./Assets/Spider-Man.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
} */

/* .box{
    height: 200px;
    width: 200px;
    background-color: hotpink;
    /* padding-left: 80px;
    padding-top: 50px; */
    /* padding: 20px 40px 40px 80px; */
    /* margin-left: 40px;
    margin-top: 50px; */
    /* margin: 20px 50px 60px 70px; */
    /* border: 10px solid black; */
/* } */

.box1{
    width: 100px;
    height: 100px;
    background-color: red;
    /* flex: 1; */
    /* order: 3; */
}

.box2{
    width: 100px;
    height: 100px;
    background-color: blue;
    /* flex: 1; */
    /* order: 1; */
}

.box3{
    width: 100px;
    height: 100px;
    background-color: yellow;
    /* flex: 1; */
    /* order: 2; */
}

.box4{
    width: 100px;
    height: 100px;
    background-color: gray;
    /* flex: 1; */
}

.box5{
    width: 100px;
    height: 100px;
    background-color: green;
    /* flex: 1; */
}

.box6{
    width: 100px;
    height: 100px;
    background-color: orange;
}

.box7{
    width: 100px;
    height: 100px;
    background-color: hotpink;
}

.box8{
    width: 200px;
    height: 100px;
    background-color: coral;
}

.box9{
    width: 300px;
    height: 100px;
    background-color: crimson;
}

.box10{
    width: 100px;
    height: 100px;
    background-color: cadetblue;
}

.box11{
    width: 300px;
    height: 100px;
    background-color: goldenrod;
}

.box12{
    width: 600px;
    height: 100px;
    background-color: forestgreen;
}

.box13{
    width: 300px;
    height: 100px;
    background-color: firebrick;
}

/* .container{ */
    /* display: flex; */
    /* flex-direction: row-reverse; */
    /* justify-content: start; */
    /* align-items: start; */
    /* align-content: space-between; */
    /* height: 500px; */
    /* border: 5px solid black; */
    /* flex-wrap: wrap; */
    /* gap: 100px; */
/* } */


.bluebox{
    width: 300px;
    height: 300px;
    background-color: blue;
    /* margin-top: 50px; */
    position: relative;
    /* left: 50px; */
    /* top: 10px; */
}

.yellowbox{
    width: 100px;
    height: 100px;
    background-color: yellow;
    position: sticky;
    top: 0;
    /* top: 20px; */
    /* left: 30px; */
}

.container{
    display: grid;
    grid-template-columns: repeat(3,minmax(200px,1fr));
}


.para{
    padding: 20px;
    background-color: red;
    color: white;
}

.item{
    background-color: green;
    color: white;
    font-size: 50px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.outerbox{
    display: grid;
    margin: 20px;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    grid-auto-flow: row;
}

.items1{
    /* grid-column-start: 1;
    grid-column-end: 4; */
    grid-column: span 3;
}

.items2{
    grid-row: span 3;
}

.layout > div{
    border: 1px solid black;
    background-color: coral;
    font-size: 50px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.layout{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 10vh 80vh 10vh;
    grid-template-areas: 
    "h h h"
    "sb1 m sb2"
    "f f f";
}

.header{
    grid-area: h;
}

.sidebar1{
    grid-area: sb1;
}

.main{
    grid-area: m;
}

.sidebar2{
    grid-area: sb2;
}

.footer{
    grid-area: f;
}

.square{
    width: 300px;
    height: 300px;
    background-color: aqua;
    transition-duration: 5s;
    /* transition-property: width; */
    transition-timing-function: linear;
    /* transition-delay: 3s; */
}

.square:hover{
    width: 600px;
    background-color: green;
    transform: translateY(20px);
}

.boxes{
    width: 100px;
    height: 100px;
    background-color: orangered;
    border-radius: 50%;
    animation-name: circle;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    position: relative;
}

@keyframes circle {
    50%{
        width: 300px;
        height: 300px;
        background-color: blue;
        left: 10px;
        top: 50px;
    }

    100%{
        width: 500px;
        height: 500px;
        background-color: grey;
        top: 60px;
        left: 30px;
    }
}
    

@media screen and (max-width: 801px){
    h1{
       color: red; 
    }

    h2{
        font-size: 50px;
    }
}

@media screen and (max-width: 600px) {
    p{
        width: 100%;
        background-color: hotpink;
    }
}

@media screen and (max-width: 400px) {
    h2{
        color: green;
    }
}